.body{
    margin:0;
    padding:0;
}

.gallery{
    display: grid;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(1, 100px);
    justify-content: center
}

.photo {
    width: 200px;
}