.gallery{
    display: grid;
    gap: 10px;
}

.photo {
    object-fit: cover;
    width: 100%;
}


@media screen and (min-width: 768px)  {
    .gallery{
    grid-template-columns: repeat(2, auto);
}
}

@media screen and (min-width: 1024px) {
    .gallery{
    grid-template-columns: repeat(3, auto);
    grid-area: 1 / 2;
}

.photo:nth-of-type(3){
    grid-column: 2/4;
    grid-row: 1/3;
}
}