body {
font-family: Arial, Helvetica, sans-serif;
}

.navBar {
    background-color: black;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.nav-item {
    color: white;
    margin: 10px
}

@media screen and (min-width: 768px) {
    .navBar {
        flex-direction: row; 
        justify-content: flex-end;
}

}